<div id="content">
  <div class="app-title">
      <h1>Train's Info</h1>  
  <div class="running-train">
    <!-- <img src="./assets/images/running-train-1.png" alt="running train"> -->
  </div>  
</div>
  <!-- menu starts -->
  <div class="show-hide-menu">  
    <div class="menu">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" routerLink="livestatus">Train's Info</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active">
              <a routerLink="livestatus">Live Status</a>
            </li>
            <li>
              <a routerLink="pnrstatus">PNR Status</a>
            </li>
            <li>
              <a routerLink="trainroute">Train Route</a>
            </li>
            <li>
              <a routerLink="seatavailable">Seat Availability</a>
            </li>
            <li>
              <a routerLink="trainfare">Get Fare</a>
            </li>
            <li>
              <a routerLink="trainsbetweenstations">Trains Between Stations</a>
            </li>            
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- menu ends -->
  
  <!-- body section -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
